/* ==========================================================================
   Application styles
   ========================================================================== */

/* Layout
   -------------------------------------------------------------------------- */
#root {
    max-width: 600px;
    margin: 30px auto;
}
