/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: var(--color);
    background-color: var(--background-color);
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Work Sans', sans-serif;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

input, select, textarea, button {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

button, [role=button] {
    cursor: pointer;
    outline: 0;
    &:--enter {
        text-decoration: none;
    }
}

/*
 * Remove browser default margins (at least webkit)
 */
figure {
    margin: 0;
}

iframe {
    border: none;
}

img {
    max-width: 100%;
}
