/* ==========================================================================
    Application variables and properties
   ========================================================================== */

:root {

    /* Colors
       ---------------------------------------------------------------------- */
    /* site */
    --color: #222C31;
    --background-color: #F9F9F9;

    --grey: #9B9B9B;
    --light-grey: #C3C9CB;
    --extralight-grey: #DFDFDF;

    /* social */
    --facebook: #435595;
    --twitter: #1DA1F2;
    --googleplus: #D6433A;
    --linkedin: #007FB2;
    --mail: #C3C9CB;
    --whatsapp: #25D366;

    /* Grid
       ---------------------------------------------------------------------- */
    --max-width: 1170px;
    --gutter: 30px;

    /* Helpers (custom properties version)
       ---------------------------------------------------------------------- */
    --clearfix: {
        &:before, &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }
    };

    --visuallyhidden: {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    };

    /* Vertical centering technique
       ---------------------------------------------------------------------- */
    --ghost-center: {
        position: relative;
        letter-spacing: -.5em;

        &:after {
            content: ' ';
            display: inline-block;
            height: 100%;
            width: 0;
            vertical-align: middle;
        }

        & > * {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: normal;
        }
    };

    /* Reusable typography (font-size/line-height - font-weight)
       ---------------------------------------------------------------------- */

}

/* Custom selectors
   -------------------------------------------------------------------------- */
@custom-selector :--enter :hover, :focus;
@custom-selector :--hover :hover, :active;

/* Custom Media Queries (mobile first approach)
   -------------------------------------------------------------------------- */
/**
 * Usage :
 *
 * .my-class-selector {
 *      @media (--medium-screen) {
 *          [style properties here for medium+ screens]
 *      }
 *  }
 */
@custom-media --small-screen only screen and (min-width: 480px);
@custom-media --medium-screen only screen and (min-width: 768px);
@custom-media --large-screen only screen and (min-width: 1024px);
@custom-media --extra-large-screen only screen and (min-width: 1200px);
@custom-media --super-large-screen only screen and (min-width: 1440px);
